<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #0747A6">
  <a class="navbar-brand" href="#">
    <img src="/src/favicon.ico" width="49" height="46" alt="">FoyangTech
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" [ngClass]="{'active': homeTab}">
        <a class="nav-link" (click)="onSelect('home')" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item" [ngClass]="{'active': blogTab}">
        <a class="nav-link" (click)="onSelect('blog')" routerLink="/blog">Blog</a>
      </li>
      <li class="nav-item" [ngClass]="{'active': intranetTab}">
        <a class="nav-link" (click)="onSelect('intranet')" routerLink="/intranet">Intranet</a>
      </li>
      <!projects-->
      <li class="nav-item dropdown" [ngClass]="{'active': projectsTab}">
        <a (click)="onSelect('projects')" class="nav-link dropdown-toggle" href="#" id="projetsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Projects
        </a>
        <div class="dropdown-menu" aria-labelledby="projetsDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <!apps-->
      <li class="nav-item dropdown" [ngClass]="{'active': appsTab}">
        <a (click)="onSelect('apps')" class="nav-link dropdown-toggle" href="#" id="appsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Apps
        </a>
        <div class="dropdown-menu" aria-labelledby="appsDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>
    <!version-block-->
    <div>
      <ul class="navbar-nav mr-auto my-2 ">
        <li class="nav-item dropdown mr-sm-2">
          <a class="nav-link dropdown-toggle" href="#" id="versionDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            v0.0
          </a>
          <div class="dropdown-menu" aria-labelledby="versionDropdown">
            <a class="dropdown-item" href="#">v0</a>
            <a class="dropdown-item" href="#">v0</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">v0</a>
          </div>
        </li>
      </ul>
    </div>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-warning my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
