<div class="row justify-content-md-center-">
  <div class="col col-sm-4"></div>
  <div class="col col-sm-4 center">
    <div><h3>Please Sign In</h3></div>
    <form  name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
      <div [ngClass]="{ 'has-error': f.submitted && !username.valid }">

        <input class="input" placeholder="Username" type="text" name="username" [(ngModel)]="model.username" #username="ngModel" required />
        <div class="alert alert-danger" role="alert" *ngIf="f.submitted && !username.valid">Username is required</div>
      </div>
      <div style=" margin: 5px " [ngClass]="{ 'has-error': f.submitted && !password.valid }">

        <input class="input" placeholder="password" type="password" name="password" [(ngModel)]="model.password" #password="ngModel" required />
        <div class="alert alert-danger" role="alert" *ngIf="f.submitted && !password.valid">Password is required</div>
      </div>
      <div style=" margin: 10px " >
        <button class=" btn btn-outline-primary " [disabled]="loading">Login</button>
      </div>
    </form>
  </div>
  <div class="col col-sm-4"></div>

</div>



